.Container {
  width: 100%;
  background-color: #fff;
  height: 450px;
}

.AboutMeSection {
  padding-top: 1rem;
}

a {
  text-decoration: none;
}

.AboutIcons{
  size: 1rem;
}

.aboutBox {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_leftBox {
  width: 50%;
  text-align: left;
  padding: 10px;
}
.about_leftBox > h1 {
  font-size: 30px;
  line-height: 10px;
}
.about_leftBox > p {
  color: #8492a6;
  font-size: 17px;
  font-weight: 500;
}

.DownloadResumeBtn {
  padding: 12px 20px 12px 20px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 15px;
}
.DownloadResumeBtn:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.about_rightBox {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.about_rightBox > div {
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 20%;
  overflow: hidden;
}


.about_box_h3 {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--main-color);
}
.IconsContainer {
  padding-top: 0.6rem;
  padding-left: 0.4rem;
}
.IconsContainer a {
  margin-right: 0.5rem;
}

.Imageshape {
  display: block;
  width: 300px;
  height: 300px;
  background-color: var(--main-color);
  overflow: hidden;
  border-radius: 58% 42% 49% 51% / 58% 53% 47% 42%;
}

.myPersonalImage {
  position: relative;
  width: 235px;
  height: auto;
  margin-right: 1rem;
  margin-top: 2rem;
  filter: grayscale(87%) brightness(93%) contrast(155%);
  -webkit-filter: grayscale(87%) brightness(93%) contrast(155%);
  -moz-filter: grayscale(87%) brightness(93%) contrast(155%);
}

.DescriptionSpanTag {
  color: var(--main-color);
  font-weight: 600;
}

.QuoteTagDiv {
  padding: 1rem 0rem;
}
.QuoteTag {
  font-size: 1.2rem;
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Container {
    margin-top: 7rem;
    margin-bottom: 12rem;
  }

  .aboutBox {
    height: 100%;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .about_leftBox > h1 {
    font-size: x-large;
    line-height: 0px;
    text-align: center;
  }
  .about_leftBox > p {
    color: #6c727a;
    font-size: 17px;
    font-weight: 500;
  }
  .about_leftBox {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .about_rightBox {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 5rem;
    margin-top: 8rem;
  }

  .about_rightBox > div {
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 100%;
    background-color: white;
    overflow: hidden;
  }
  .about_box_h3 {
    font-weight: 600;
    font-size: 2.1rem;
  }

  .AboutMeSection {
    margin-top: 5rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Container {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }

  .aboutBox {
    height: 100%;
    flex-direction: column-reverse;
  }
  .about_leftBox > h1 {
    font-size: x-large;
    line-height: 0px;
    text-align: center;
  }
  .about_leftBox > p {
    color: #8492a6;
    font-size: 17px;
    font-weight: 500;
  }
  .about_box_h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .about_leftBox {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .about_rightBox {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }

  .about_rightBox > div {
    width: auto;
    height: auto;
  }
  .about_box_h3 {
    font-weight: 600;
    font-size: 2rem;
  }

  .Imageshape {
    display: block;
    width: 200px;
    height: 200px;
  }

  .myPersonalImage {
    width: 200px;
    height: auto;
  }
}
@media only screen and (max-width: 320px) {
  .Container {
    margin-top: 7rem;
  }
  .aboutBox {
    height: 100%;
    flex-direction: column-reverse;
  }
  .about_leftBox > h1 {
    font-size: x-large;
    line-height: 0px;
    text-align: center;
  }
  .about_leftBox > p {
    color: #8492a6;
    font-size: 15px;
    font-weight: 500;
  }
  .about_leftBox {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .about_rightBox {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }

  .about_rightBox > div {
    width: 150px;
    height: 150px;
  }
  .about_box_h3 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .Imageshape {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
  }

  .myPersonalImage {
    width: 150px;
    height: auto;
  }
}

/* About Me Section */

.AboutMeSection {
  width: 100%;
  margin-top: -2rem;
  margin-bottom: 40px;
}
.aboutSection {
  width: 80%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}
.left {
  width: 30%;
  text-align: left;
  background-color: #f8f9fa;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}
.left > p {
  font-size: small;
  font-weight: bold;
}
.left > p > span {
  color: #46484b;
  font-weight: 600;
}
.left > h3 + p {
  margin-top: 0px;
  border-top: 1.5px dashed #d4dae1;
}
.right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px 0px 10px;
}
.right > h2 {
  width: 100%;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: left;
}
.right > h2 > span {
  color: var(--main-color);
}
.right > p {
  text-align: left;
  margin-top: 5px;
}
.right > div {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin-top: -1.5rem;
}
.right > div > img {
  margin-left: -5.5rem;
  width: 300px;
  height: auto;
}
@media only screen and (min-width: 769px) and (max-width: 1110px) {
  .AboutMeSection {
    margin-top: 2rem;
  }
  .left {
    width: 35%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .AboutMeSection {
    margin-top: auto;
    padding-top: 2.5rem;
  }
  .aboutSection {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 90%;
  }
  .right {
    width: 90%;
  }
  .right > p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .AboutMeSection {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .aboutSection {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 90%;
  }
  .right {
    width: 90%;
  }
  .right > h2 {
    font-size: 17px;
  }
  .right > p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .AboutMeSection {
    margin-top: 2rem;
    padding-top: 2rem;
  }
  .aboutSection {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 90%;
  }
  .right {
    width: 90%;
  }
  .right > h2 {
    font-size: 16px;
  }
  .right > p {
    font-size: 13px;
  }
}
