.ProjectMain {
  width: 80%;
  margin: auto;
  height: auto;
}

.ProjectH1 {
  color: var(--grey-color);
  font-size: 8rem;
  margin-bottom: -0.5rem;
}

.ProjectSection {
  display: flex;
  height: auto;
  gap: 2rem;
  margin: auto;
  margin-bottom: 5rem;
}

.ProjectLeftSection {
  width: 50%;
  text-align: left;
}

.ProjectName {
  font-size: 2rem;
  padding-left: 1rem;
  display: inline-block;
  position: relative;
  color: var(--main-color);
  cursor: pointer;
}

.ProjectName::after {
  content: "";
  position: absolute;
  width: 92%;
  margin-left: 1rem;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.ProjectName:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ProjectLeftGreen {
  padding: 2rem 1rem;
  position: absolute;
  margin-top: -0.5rem;
  width: 42%;
  height: auto;
  border-radius: 20px;
  background: rgb(19, 185, 135);
  background: linear-gradient(
    180deg,
    rgba(19, 185, 135, 1) 81%,
    rgba(47, 45, 45, 1) 100%
  );
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* P Tag */
.TechStackImages {
  width: 18px;
  height: 17px;
  margin-left: 0.2rem;
}

.TechStackContainer {
  padding: 0rem 2rem;
  /* border: 1px solid greenyellow; */
  margin-top: 11rem;
  display: grid;
  row-gap: -2rem;
  column-gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
  align-items: center;
}

.PTagForSKills {
  padding: 0.3rem 0.9rem;
  margin-right: 0.2rem;
  border-radius: 10px;
  font-style: italic;
  font-size: 0.8rem;
  color: aliceblue;
  background-color: rgb(31, 30, 30);
  text-align: center;
}

.ProjectBTN {
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.linkSection {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.linkSection > a {
  text-decoration: none;
}

.ProjectButtons {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  background-color: white;
  transition: color 0.7s;
  z-index: 1;
  font-size: 17px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.ProjectButtons:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--green-second);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.ProjectButtons:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.ProjectButtons:hover:before {
  top: -30px;
  left: -30px;
}

.ProjectButtons:active:before {
  transition: background 0s;
}

/* Right Section Project Image CSS */

.ProjectRightSection {
  /* border: 1px solid green; */
  width: 60%;
  height: 22rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.ProjectImages {
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* filter: blur(1.5px); */
}
.ProjectImages:hover {
  transform: scale(1.3);
  transition: 0.8s;
  /* filter: blur(0px); */
}

@media only screen and (min-width: 769px) and (max-width: 1110px) {
  .ProjectH1 {
    font-size: 8rem;
    margin-bottom: -0.5rem;
  }
  .ProjectSection {
    display: flex;
    justify-content: flex-start;
    display: block;
    gap: 2rem;
    margin: auto;
    margin-bottom: 7rem;
  }
  .ProjectLeftSection {
    /* border: 1px solid blue; */
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
  }
  .ProjectRightSection {
    /* border: 1px solid green; */
    width: 100%;
    border-radius: 10px;
  }

  .ProjectLeftGreen {
    padding: 2rem 1rem;
    position: relative;
    width: auto;
  }

  .TechStackContainer {
    margin-top: 1rem;
  }
  .ProjectImages {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ProjectH1 {
    font-size: 7rem;
    margin-bottom: -0.5rem;
  }
  .ProjectSection {
    display: flex;
    justify-content: flex-start;
    display: block;
    gap: 2rem;
    margin: auto;
  }
  .ProjectLeftSection {
    /* border: 1px solid blue; */
    width: 100%;
    text-align: left;
  }
  .ProjectRightSection {
    /* border: 1px solid green; */
    width: 100%;
    border-radius: 10px;
  }

  .ProjectLeftGreen {
    padding: 2rem 1rem;
    position: relative;
    width: auto;
  }

  .TechStackContainer {
    margin-top: 1rem;
  }
  .linkSection {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .ProjectH1 {
    font-size: 6rem;
    margin-bottom: -0.5rem;
  }
  .ProjectImages {
    margin-top: -4rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ProjectH1 {
    font-size: 7rem;
    margin-bottom: -0.5rem;
  }
  .ProjectSection {
    display: flex;
    justify-content: flex-start;
    display: block;
    gap: 2rem;
    margin: auto;
  }
  .ProjectLeftSection {
    /* border: 1px solid blue; */
    width: 100%;
    text-align: left;
  }
  .ProjectRightSection {
    /* border: 1px solid green; */
    width: 100%;
    border-radius: 10px;
    margin-bottom: -3rem;
  }

  .ProjectLeftGreen {
    padding: 2rem 1rem;
    position: relative;
    width: auto;
  }

  .TechStackContainer {
    margin-top: 1rem;
  }

  .linkSection {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .ProjectButtons {
    width: 8rem;
    height: 2.6em;
  }

  .ProjectH1 {
    font-size: 4rem;
    margin-bottom: -0.5rem;
  }
  .ProjectImages {
    margin-top: -10rem;
  }
}

@media only screen and (max-width: 320px) {
  .ProjectH1 {
    font-size: 7rem;
    margin-bottom: -0.5rem;
  }
  .ProjectSection {
    display: flex;
    justify-content: flex-start;
    display: block;
    gap: 2rem;
    margin: auto;
    margin-bottom: -8rem;
  }
  .ProjectLeftSection {
    /* border: 1px solid blue; */
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
  }
  .ProjectRightSection {
    /* border: 1px solid green; */
    width: 100%;
    border-radius: 10px;
  }

  .ProjectLeftGreen {
    padding: 2rem 1rem;
    position: relative;
    width: auto;
  }

  .TechStackContainer {
    margin-top: 0rem;
  }
  .linkSection {
    display: flex;
    gap: 1px;
    justify-content: space-around;
  }

  .ProjectButtons {
    width: 6rem;
    height: 2.6em;
  }
  .ProjectH1 {
    font-size: 3rem;
    margin-bottom: -0.5rem;
  }
  .ProjectImages {
    margin-top: -12rem;
  }
}
